<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mapper.WebsiteProjectMapper" >
  <resultMap id="BaseResultMap" type="com.website.entites.WebsiteProject" >
    <id column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_url" property="projectUrl" jdbcType="VARCHAR" />
    <result column="project_topic" property="projectTopic" jdbcType="VARCHAR" />
    <result column="project_text" property="projectText" jdbcType="VARCHAR" />
    <result column="project_create_date" property="projectCreateDate" jdbcType="DATE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.website.entites.WebsiteProject" extends="BaseResultMap" >
    <result column="project_img" property="projectImg" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    project_id, project_url, project_topic, project_text, project_create_date
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    project_img
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.website.entites.WebsiteProjectExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from website_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.website.entites.WebsiteProjectExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from website_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from website_project
    where project_id = #{projectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    delete from website_project
    where project_id = #{projectId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.website.entites.WebsiteProjectExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    delete from website_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.website.entites.WebsiteProject" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    insert into website_project (project_id, project_url, project_topic, 
      project_text, project_create_date, project_img
      )
    values (#{projectId,jdbcType=BIGINT}, #{projectUrl,jdbcType=VARCHAR}, #{projectTopic,jdbcType=VARCHAR}, 
      #{projectText,jdbcType=VARCHAR}, #{projectCreateDate,jdbcType=DATE}, #{projectImg,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.website.entites.WebsiteProject" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    insert into website_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectUrl != null" >
        project_url,
      </if>
      <if test="projectTopic != null" >
        project_topic,
      </if>
      <if test="projectText != null" >
        project_text,
      </if>
      <if test="projectCreateDate != null" >
        project_create_date,
      </if>
      <if test="projectImg != null" >
        project_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectUrl != null" >
        #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectTopic != null" >
        #{projectTopic,jdbcType=VARCHAR},
      </if>
      <if test="projectText != null" >
        #{projectText,jdbcType=VARCHAR},
      </if>
      <if test="projectCreateDate != null" >
        #{projectCreateDate,jdbcType=DATE},
      </if>
      <if test="projectImg != null" >
        #{projectImg,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.website.entites.WebsiteProjectExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    select count(*) from website_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    update website_project
    <set >
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=BIGINT},
      </if>
      <if test="record.projectUrl != null" >
        project_url = #{record.projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTopic != null" >
        project_topic = #{record.projectTopic,jdbcType=VARCHAR},
      </if>
      <if test="record.projectText != null" >
        project_text = #{record.projectText,jdbcType=VARCHAR},
      </if>
      <if test="record.projectCreateDate != null" >
        project_create_date = #{record.projectCreateDate,jdbcType=DATE},
      </if>
      <if test="record.projectImg != null" >
        project_img = #{record.projectImg,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    update website_project
    set project_id = #{record.projectId,jdbcType=BIGINT},
      project_url = #{record.projectUrl,jdbcType=VARCHAR},
      project_topic = #{record.projectTopic,jdbcType=VARCHAR},
      project_text = #{record.projectText,jdbcType=VARCHAR},
      project_create_date = #{record.projectCreateDate,jdbcType=DATE},
      project_img = #{record.projectImg,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    update website_project
    set project_id = #{record.projectId,jdbcType=BIGINT},
      project_url = #{record.projectUrl,jdbcType=VARCHAR},
      project_topic = #{record.projectTopic,jdbcType=VARCHAR},
      project_text = #{record.projectText,jdbcType=VARCHAR},
      project_create_date = #{record.projectCreateDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.entites.WebsiteProject" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    update website_project
    <set >
      <if test="projectUrl != null" >
        project_url = #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectTopic != null" >
        project_topic = #{projectTopic,jdbcType=VARCHAR},
      </if>
      <if test="projectText != null" >
        project_text = #{projectText,jdbcType=VARCHAR},
      </if>
      <if test="projectCreateDate != null" >
        project_create_date = #{projectCreateDate,jdbcType=DATE},
      </if>
      <if test="projectImg != null" >
        project_img = #{projectImg,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.website.entites.WebsiteProject" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    update website_project
    set project_url = #{projectUrl,jdbcType=VARCHAR},
      project_topic = #{projectTopic,jdbcType=VARCHAR},
      project_text = #{projectText,jdbcType=VARCHAR},
      project_create_date = #{projectCreateDate,jdbcType=DATE},
      project_img = #{projectImg,jdbcType=LONGVARBINARY}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.entites.WebsiteProject" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 20 19:45:54 CST 2017.
    -->
    update website_project
    set project_url = #{projectUrl,jdbcType=VARCHAR},
      project_topic = #{projectTopic,jdbcType=VARCHAR},
      project_text = #{projectText,jdbcType=VARCHAR},
      project_create_date = #{projectCreateDate,jdbcType=DATE}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
</mapper>